.body-content {
  padding-top: 50px; }

.logo, .logo-chrome {
  width: 720px;
  height: 360px;
  margin-top: -410px;
  margin-bottom: 50px; }

.wide-header {
  letter-spacing: 1em; }

.sidebar {
  width: 6em;
  padding: .5em;
  margin: 1em; }
  .sidebar img {
    padding: .3em;
    width: 100%; }

.main-info {
  overflow: hidden; }

@media screen and (min-width: 960px) {
  .main-info {
    padding-right: 8em; }
  #navigationBar {
    font-size: 20px;
    letter-spacing: .2em; }
  #navigationBar > ul > li > a {
    padding: 0px 30px; } }

@media screen and (max-width: 960px) {
  #sample {
    margin-bottom: 50px; }
  .main-info {
    padding-right: 6.86%; }
  #navigationBar {
    font-size: 16px;
    letter-spacing: .08em; }
  #navigationBar > ul > li > a {
    padding: 0px 5%; } }

@media screen and (min-width: 900px) {
  #sample {
    display: inline-block;
    height: 250px;
    margin-top: 70px;
    margin-bottom: 120px; }
  #player-description {
    max-width: 250px;
    display: inline-block;
    float: left;
    height: 250px;
    line-height: 250px;
    text-align: center; }
  #desc-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
  #player {
    margin-left: 70px;
    float: left; } }

@media screen and (max-width: 900px) {
  #sample {
    margin-bottom: 70px;
    width: 100%; }
  #player-description {
    max-width: 250px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px; }
  .sidebar {
    width: 4em; } }

.background {
  height: 460px; }

